.businessMainDiv {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 5em;
  padding: 1em 0em;
  color: #191102ff;
}

@media (max-width: 410px) {
  .businessMainDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: inherit;
    place-items: center;
  }

  .businessMainDiv > * {
    width: fill;
    padding: 1em;
  }

  .bizMapRevContainer {
    display: flex;
    place-items: center;
    width: fill;
    justify-content: center;
    margin: auto;
    padding: 0;
  }
}

#bizName {
  color: white;
  margin-top: 0.5em;
  font-size: 3em;
}

#goBack {
  width: 250px;
  font-size: medium;
}

.bizMapRevContainer {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  margin: auto;
  padding: 3em;
  border-top: 2px ridge whitesmoke;
  background-color: rgba(162, 160, 21, 0.5);
  background-image: url('https://www.transparenttextures.com/patterns/dark-geometric.png');
}

@media (max-width: 1178px) {
  .bizMapRevContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0;
  }
}

.businessHeader {
  display: flex;
  margin: auto;
  /* attempting to get space between return to results and search options: */
  /* place-items: center; */
  /* justify-content: ; */
  /* align-content: space-between; */
}
