.businessMainDiv {
  /* display: flex; */
  width: 100vw;
  margin: auto;
  margin-top: 7 em;
}

#bizName {
  color: white;
  }

#goBack {
  margin-top: 2em;
  margin-left: 2em;
  width: 250px;
  font-size: medium;
}

/* .dispReviews {
  display: flex;
  flex-direction: row;
  margin: auto;
} */

.bizMapRevContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: row; */
  justify-content: space-around;
  margin: auto;
  padding: 3em;
  
}


