.businessMainDiv {
  /* display: flex; */
  width: 100%;
}

#bizName {
  color: white;
  }

#goBack {
  margin-top: 2em;
  margin-left: 0;
  width: 250px;
  font-size: medium;
}

/* .dispReviews {
  display: flex;
  flex-direction: row;
  margin: auto;
} */

.bizMapRevContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding: 3em;
}


