.businessDisplay {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 1em;
}

.bizMap {
  margin-top: unset;
}

.businessInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  background-color: white;
  width: 25em;
  height: auto;
  border-radius: 5px;
  font-weight: bold;
  padding: 0 1em;
}

.businessInfo > * {
  color: #191102;
  width: inherit;
  height: auto;
}

summary {
  color: #191102;
}

.bizHoursProfile {
  display: flex;
  flex-direction: column;
}

#defaultPic {
  opacity: 0.5;
}

.bizPicProfile {
  display: flex;
  margin-top: -0.5em;
  padding-bottom: 1em;
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(5px rgb(240, 198, 92));
  animation-duration: 2s;
  animation-name: slideIn;
  transition: transform 1s;
}

.bizPicProfile:hover {
  transform: scale(1.05, 1.05);
}

@media (max-width: 1350px) {
  .bizPicProfile {
    display: flex;
    margin: auto;
    max-width: 270px;
    height: auto;
    object-fit: scale-down;
  }
}

.ownerHeader {
  display: flex;
  flex-direction: column;
  margin: auto;
  /* place-items: center; */
}

.hyperLink {
  color: #00838f;
}

.hyperLink > a {
  color: #00838f;
  padding: 10px;
}

#contactsLabel {
  color: black;
}

.empty {
  margin-top: 1em;
}

.lightGrey {
  color: lightgrey;
  font-weight: bolder;
  font-size: 1.5em;
}

.noneProvided {
  color: rgb(104, 104, 104);
}

.displayNone {
  display: none;
}

.bizLabel {
  display: flex;
  flex-direction: row;
  color: #191102;
  text-align: left;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(243, 183, 31, 0.5);
}

.BtnEdit {
  margin-top: 1em;
  margin-bottom: 1em;
}

.hoursDetails {
  background-color: whitesmoke;
  width: 100%;
}

#socialLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#socialNA {
  margin-right: -22em;
}
