

.businessDisplay {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 1em;
}

.businessInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  background-color: #f3b61fff;
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
  width: 25em;
  height: auto;
  border-radius: 5px;
  font-weight: bold;
  padding: 1em;
}

.businessInfo > * {
  color: #191102;
<<<<<<< HEAD
  
}

img {
  width: 20em;
  height: auto;
=======
}

/* .hyperLink {
  color: #00838f;
} */
.hyperLink >a {
  color: #00838f;
  padding: 15px;
}

#contactsLabel {
  color: black;
>>>>>>> 0194e091549185885bc0c1dac2280a416221e2d5
}