.businessDisplay {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 1em;
}

.businessInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  background-color: #f3b61fff;
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
  width: 25em;
  height: auto;
  border-radius: 5px;
  font-weight: bold;
  padding: 1em;
}

.businessInfo > * {
  color: #191102;
}

img {
  width: 20em;
  height: auto;
}

.hyperLink > a {
  color: #2d99a3;
}

#contactsLabel {
  color: #191102;
}