.editBizDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  place-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  padding-bottom: 4em;
}

.editBizForm {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 2em;
  justify-content: space-between;
  align-content: center;
  border: 1px whitesmoke solid;
  width: 75%;
  height: auto;
  padding: 1.5em;
  background-color: whitesmoke;
}

@media (max-width: 1350px) {
  .editBizForm {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1em;
    width: fill;
    justify-content: center;
  }

  .bizLabel {
    display: flex;
    margin: auto;
    align-content: flex-start;
    align-self: start;
    place-items: center;
    justify-content: flex-start;
    width: 100vw;
  }

  .bizLabel input {
    justify-content: space-between;
    align-self: right;
  }

  .formDivider {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    align-content: center;
    padding: 0;
    margin: 0;
  }
}

.formDivider {
  width: 40%;
}

.txtWhite {
  text-align: left;
  color: #551100;
  font-weight: bold;
}

.selectHours {
  display: flex;
  justify-content: center;
  text-align-last: center;
  border: none;
  border-radius: 7px;
  width: 12em;
  height: 2.25em;
  padding: 0.5em;
  margin-left: 10px;
  color: #191102ff;
  font-size: 10pt;
  box-shadow: 1px 3px 6px #191102ff;
  text-shadow: 2px 1px 2px rgba(233, 201, 121, 0.746);
  background-color: rgba(243, 183, 31, 0.849);
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.editBizForm > * {
  margin-bottom: 1em;
  text-align: left;
}

.editH1 {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1em;
  padding: 1em;
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

.uploadDiv {
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 1em;
  align-content: center;
  background-color: whitesmoke;
  width: max-content;
  padding: 1em;
}

.uploadForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1em;
}

.uploadLabel {
  display: flex;
  color: #551100;
  text-align: justify;
  align-content: space-between;
  justify-content: center;
  font-weight: bold;
  border-bottom: 1px grey solid;
  margin: auto;
}

.selectImage {
  display: flex;
  margin: auto;
  place-items: center;
  border: none;
  border-radius: 7px;
  width: 18em;
  height: 3em;
  padding: 1em;
  color: #191102ff;
  font-size: 10pt;
  box-shadow: 1px 3px 6px #191102ff;
  text-shadow: 2px 1px 2px rgba(233, 201, 121, 0.746);
  background-color: rgba(243, 183, 31, 0.753);
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-left: 5px;
}

.Btn-save {
  display: flex;
  justify-content: space-around;
  margin: auto;
  color: #f3b61fff;
  background-color: gray;
  border: none;
  border-radius: 25px;
  font-family: 'Candal', sans-serif;
  font-weight: lighter;
  font-size: 14pt;
  text-shadow: 1px 2px 2px #191102ff;
  box-shadow: 1px 3px 3px rgb(41, 28, 3);
  height: auto;
  width: 10em;
  padding: 0.5em;
  text-align: center;
  place-items: center;
}

.Btn-saveInfo {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 2.25em;
  color: #f3b61fff;
  background-color: darkred;
  border: none;
  border-radius: 25px;
  font-family: 'Candal', sans-serif;
  font-weight: lighter;
  font-size: 14pt;
  text-shadow: 1px 2px 2px #191102ff;
  box-shadow: 1px 3px 3px rgb(41, 28, 3);
  height: auto;
  width: 15em;
  padding: 0.5em;
  text-align-last: center;
}

@media (max-width: 1350px) {
  .uploadDiv {
    display: flex;
    flex-direction: column;
    width: fill;
    margin: auto;
    justify-content: center;
    padding: 1em;
  }

  .Btn-save {
    margin-top: 1em;
  }
}
