/* colors
/* SCSS HEX */
/* $tea-green: #bbd8b3ff;
$orange-yellow: #f3b61fff;
$citron: #a29f15ff;
$rosewood: #510d0aff;
$black-chocolate: #191102ff; */

.logoHeader {
  display: flex;
  margin-left: 1em;
  width: auto;
  height: 7em;
  transition: transform 1s;
}

.logoHeader:hover {
  transform: translatey(-10px);
}

.headerNav {
  display: flex;
  justify-content: space-evenly;
  height: 3em;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgba(25, 17, 2, 0.801);
  background-image: url("https://i.ya-webdesign.com/images/african-border-png-6.png");
  background-position: center;
  background-size: 150vw;
}

.BLM {
  display: flex;
  align-items: center;
  color: white;
  width: fit-content;
  position: relative;
  font-weight: bold;
}

.BLM > * {
  padding: 5px;
}

@media (max-width: 1190px) {
  .BLM {
    display: none;
    position: relative;
  }
}
