/* colors
/* SCSS HEX */
/* $tea-green: #bbd8b3ff;
$orange-yellow: #f3b61fff;
$citron: #a29f15ff;
$rosewood: #510d0aff;
$black-chocolate: #191102ff; */

.logoHeader {
  display: flex;
  margin-left: 1em;
  width: auto;
  height: 13em;
  transition: transform 1s;
}

.logoHeader:hover {
  transform: translate(-5px, -5px);
}

.headerNav {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 5px 7px #f3b61fff;
  height: 9.5em;
  text-align: center;
  width: 101%;
  position: sticky;
  top: 0;
  background-color: #f3b61fff;
  background-image: url("https://i.ya-webdesign.com/images/african-border-png-6.png"),url("https://www.transparenttextures.com/patterns/diagmonds.png"), 
    linear-gradient(
      180deg,
      rgb(34, 22, 1) 14%,
      rgba(42, 155, 11, 0.56) 46%,
      rgb(209, 25, 15, 1) 75%,
      #510d0aff 105%
    );

  background-position: center;
  background-size: 150vw;
  /* background-repeat: no-repeat, repeat, no-repeat; */
}
