/* colors
/* SCSS HEX */
/* $tea-green: #bbd8b3ff;
$orange-yellow: #f3b61fff;
$citron: #a29f15ff;
$rosewood: #510d0aff;
$black-chocolate: #191102ff; */

.landingMainDiv {
  height: 100vh;
  width: 100vw;
  margin: auto;
  justify-content: space-evenly;
  background-color: #e7e7ed;
  color: #191102ff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: scroll;
  background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");
  -ms-grid-column-align: center;
}

.logoDiv {
  cursor: pointer;
  margin: auto;
  padding: 2em 4em;
}

.ourMissionDiv {
  cursor: pointer;
  margin-top: 10%;
  border-radius: 1em;
  width: fit-content;
  height: fit-content;
  padding: 2em 4em;
}

h1,
h3,
h6 {
  padding: 1em;
}
