/* colors
/* SCSS HEX */
/* $tea-green: #bbd8b3ff;
$orange-yellow: #f3b61fff;
$citron: #a29f15ff;
$rosewood: #510d0aff;
$black-chocolate: #191102ff; */

/*  */

/* .logoDiv {
  cursor: pointer;
  margin: auto;
  padding: 2em 4em;
} */

.ourMissionDiv {
  cursor: pointer;
  margin-top: 10%;
  border-radius: 1em;
  width: fit-content;
  height: fit-content;
  padding: 2em 4em;
}

/* h1,
h3,
h6 {
  padding: 1em;
} */
