/* colors
/* SCSS HEX */
/* $tea-green: #bbd8b3ff;
$orange-yellow: #f3b61fff;
$citron: #a29f15ff;
$rosewood: #510d0aff;
$black-chocolate: #191102ff; */

.MainDiv {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.landingMainDiv {
  height: 100vh;
  width: 100vw;
  margin: auto;
  place-items: center;
  justify-content: center;
  /* background-color: #e7e7ed; */
  background-color: rgba(247, 186, 32, 0.774);
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
  color: #191102ff;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  -ms-grid-column-align: center;
}

@media (max-width: 1355px) {
  .landingMainDiv {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: unset;
    position: relative;
  }
}

@media (max-width: 1355px) {
  .logoDiv {
    display: none;
    position: relative;
  }
}

@media (min-width: 1355px) {
  .logoDiv {
    padding: 10em 0em 2em 12em;
  }
}

@media (max-width: 1355px) {
  .ourMissionDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    margin: auto;
    padding: 0;
    font-size: 50%;
  }
}

@media (min-width: 1355px) {
  .ourMissionDiv {
    padding: 10em 0em 2em 15em;
    margin-right: 5em;
  }
}

.ourMissionDiv {
  display: flex;
  flex-direction: column;
  /* margin-top: 10%; */
  border-radius: 1em;
  width: fit-content;
  height: fit-content;
  padding: 7em 0;
}

h1,
h3,
h6 {
  padding: 1em;
}

.afLogoMain {
  margin: auto;
  background-color: transparent;
  width: 30em;
  height: auto;
}

/* ///////////////////////////////////////////////////////////////////////////// */

.mainPageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  font-family: "Bungee", cursive;
  /* font-family: "Monoton", cursive; */
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 40em;
  margin-top: 8em;
  padding: 0 6em;
  grid-gap: 5.5em;
}

@media (max-width: 1355px) {
  .mainPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20em;
  }
}

.searchBizDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-evenly;
}

.headingMain {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: 570;
  font-size: 44pt;
  text-shadow: 1px 3px 5px #191102ff;
  color: rgba(104, 17, 13, 0.842);
  -webkit-text-stroke: 2px rgba(243, 183, 31, 0.863);
}

.searchBiz {
  border: 1px goldenrod ridge;
  border-radius: 15px;
  margin: 2em;
  background-image: url("https://www.transparenttextures.com/patterns/white-carbonfiber.png"),
    url("../images/girlsSearchingOnline.jpg");
  background-size: cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
  height: 32em;
  width: auto;
  box-shadow: 4px 4px 10px #191102ff;
  animation-duration: 2s;
  animation-name: slideIn;
  transition: transform 1s;
}

@media (max-width: 1355px) {
  .searchBiz {
    display: none;
    position: relative;
  }
  .addBiz {
    display: none;
    position: relative;
  }
}

.searchBiz:hover {
  transform: scale(1.05, 1.05);
}

.addBiz {
  border: 1px goldenrod ridge;
  border-radius: 15px;
  margin: 2em;
  background-image: url("https://www.transparenttextures.com/patterns/graphcoders-lil-fiber.png"),
    url("../images/coupleOpenSign.jpg");
  background-size: cover;
  background-repeat: repeat, no-repeat;
  background-position: center;
  height: 32em;
  width: auto;
  box-shadow: 4px 4px 10px #191102ff;
  animation-duration: 2s;
  animation-name: slideIn;
  transition: transform 1s;
}

.addBiz:hover {
  transform: scale(1.05, 1.05);
}

.signUpH1 {
  margin-top: 1em;
}

@keyframes easeIn {
  from {
    margin-right: 100%;
    width: 150%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.addBizBtn {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 1em;
  color: #f3b61fff;
  border: none;
  border-radius: 25px;
  font-family: "Candal", sans-serif;
  font-weight: lighter;
  font-size: 14pt;
  text-shadow: 1px 2px 2px #191102ff;
  box-shadow: 1px 3px 3px rgb(41, 28, 3);
  height: auto;
  width: 20em;
  padding: 0.5em;
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");
  background-color: #510d0aff;
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}

.btnWeight {
  letter-spacing: 3px;
}

.addBizBtn:active {
  position: relative;
  top: 2px;
}

.addBizBtn:hover {
  background-color: rgb(44, 4, 2);
}

.addBizBtn:focus {
  outline: none;
  background-color: rgb(44, 4, 2);
}

.bizOwnerDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 5em;
}

/* /////////////////////////////////////////////////////////////////////////////// */

.ourMissionStatementDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  /* margin-top: 10em; */
  padding: 5em;
  width: 100vw;
  height: 100vh;
  background-color: #e7e7ed;
  /* background-image: url("https://www.transparenttextures.com/patterns/gplay.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
  color: #191102ff;
}
