.profilePageMainDiv {
  height: 100vh;
  width: 100%;
  justify-content: center;
  overflow-y: scroll;
  padding-bottom: 5em;
}

.profileMainDiv {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  justify-content: center;
  align-content: center;
  grid-gap: 1em;
}

@media (max-width: 1350px) {
  .profileMainDiv {
    display: flex;
    flex-direction: column;
    width:fill;
    object-fit: scale-down;
    margin: auto;
  }
  .bizProfileInfo {
    display: inherit;
    width: fill;
    margin: auto;
  }
  
}

.profileHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  border-bottom: inset white 2px;
  padding: 4em 0 2em 0;
}

.loBtn {
  display: flex;
  margin: auto;
  width: 7em;
}

.profileTitle {
  display: flex;
  margin: auto;
  color: white;
}

.bizProfileInfo {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  justify-items: center;
  margin-top: 6em;
  margin-right: 3em;
  margin-left: 1em;
  text-align-last: center;
  padding: 1em;
  width: max-content;
  height: auto;
}

.bizProfileInfo label {
  color: darkred;
  font-weight: bolder;
}
