.profilePageMainDiv {
  height: 100vh;
  width: 100%;
  justify-content: space-evenly;
}

.profileHeader {
  display: flex;
  margin: auto;
  border-bottom: inset white 2px;
}

.loBtn {
  display: flex;
  margin: auto;
  width: 10em;
}

.profileTitle {
  display: flex;
  margin: auto;
  color: white;
  padding: 1.5em;
}

.bizProfileInfo {
  margin-top: 1em;
  padding: 1em;
  width: 30em;
  height: auto;
}
