.resultsPage {
  margin: auto;
  width: 100vw;
  height: 100vw;
  margin-top: 7em;
}

.resultsMainDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
}

/* .resultsULn{
    background-color: ;
} */

.businessCard {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #f3b61f;
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
  box-shadow: 1px 1px 7px #d5f5cda2;
  height: 70%;
  width: 50%;
  padding: 2em;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  color: #191102;
  font-weight: bold;
}

@media (max-width: 410px) {
.businessCard {
  width: fill;
}

}


.businessCard:hover {
  box-shadow: 1px 3px 5px #510d0a;
  background-color: goldenrod;
  color: #510d0a;
}

.businessCard > li {
  display: flex;
  flex-direction: row;
}

.businessCard > * {
  color: #191102;
}
