.resultsPage {
  margin: auto;
  width: 100vw;
  height: 100vw;
  margin-top: 7em;
}

.resultsMainDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
}

.resultsUl li {
  margin: auto;
  float: left;
  width: 33%;
  padding: 1em;
}
.resultsUl {
  list-style-type: none;
}

@media (max-width: 1000px) {
  .resultsUl {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fill;
    position: relative;
  }

  .resultsUl li {
    width: fill;
  }
}

.businessCard {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
  box-shadow: 1px 1px 7px #d5f5cda2;
  height: 22em;
  width: 19.7em;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  color: #191102;
  font-weight: bold;
}

@media (max-width: 410px) {
  .businessCard {
    width: fill;
  }
}

.businessCard:hover {
  box-shadow: 1px 3px 5px #510d0a;
  background-color: goldenrod;
  color: #510d0a;
}

.businessCard > li {
  display: flex;
  flex-direction: row;
}

.businessCard > * {
  color: #191102;
}

.bizTitle {
 border-bottom: solid #191102 1px;
 font-size: 1.06em;
 font-weight: bold;
}

.bizAddress {
  text-transform: capitalize;
  font-size: 10pt;
  color: #191102;
  padding: 0 1em;
}