

#reviewsBtn {
    width: 8em;
    font-size: medium;
    margin-top: 1em;
    margin-bottom: 1em;

}

.reviewsForm {
    background-color: rgba(255, 255, 255, 0.493);
    /* border: 1px #F3B61F solid; */
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 5px;
}

.reviewsForm > label {
    color: #191102;

}

.reviewsInputs {
    background-color: #F3B61F;
    padding: 1em;
}

.ReviewSect{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 75px);
    min-height: auto;
    margin-top: 5px 10px;
    margin-bottom: 0em;
    font-size: .9rem;
    border-bottom: 2px solid #f2f2f2;

}

.ReviewSect >h5{
    display: flex;
    align-items: flex-start;
}

.ratings .fa{
    cursor: pointer;
    font-size: 1.1rem;
    color: orange;
}

.review {
    display: flex;
    margin-left: 2em;
    font-size: 1rem;
}

.ratingRadio{
    display: none;
}

.ratingsSec >span{
    color: #A29F15;
    transition: color 200ms;
}