/* colors
/* SCSS HEX */
/* $tea-green: #bbd8b3ff;
$orange-yellow: #f3b61fff;
$citron: #a29f15ff;
$rosewood: #510d0aff;
$black-chocolate: #191102ff; */

#reviewsBtn {
  width: 8em;
  font-size: medium;
  margin-top: 1em;
  /* margin-bottom: 1em; */
}

.reviewsForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.5em;
  border-radius: 5px;
  width: 30em;
  overflow-x: scroll;
}

.reviewsForm > h2 {
  color: whitesmoke;
  padding-bottom: 10px;
}

.reviewsForm > label {
  color: #f2f2f2;
  /* color: #191102; */
}
.reviewsInputs > label {
  color: #f2f2f2;
  /* color: #191102; */
}

.labelInput {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: whitesmoke;
  padding: 5px;
  font-size: 1em;
}

.rateStarsDiv {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  justify-content: center;
  padding: 0.5rem;
  text-align-last: center;
  width: max-content;
  margin: auto;
}

.reviewsInputs {
  display: flex;
  flex-direction: column;
  padding: 1em 1.5em 1.5em 1.5em;
  margin: auto;
  border-radius: 3px;
  width: 100%;
  height: auto;
  border: 1px solid #f2f2f2;
}

@media (max-width: 1190px) {
  .reviewsInputs {
    display: flex;
    justify-content: center;
    width: fill;
    place-items: center;
    margin: auto;
  }
}

@media (max-width: 410px) {
  .reviewsInputs {
    width: fill;
    padding: 5em;
  }
}

.ReviewSect {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  width: 100%;
  min-height: auto;
  margin-top: 5px 10px;
  margin-bottom: 0em;
  font-size: 0.9rem;
  border-bottom: 2px outset #f2f2f2;
}

.ReviewSect > h5 {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-start;
}

.ratings {
  display: flex;
  justify-content: center;
  width: 100%;
}

.reviewerName {
  padding-right: 1em;
}

span {
  letter-spacing: 1px;
}

.ratings .fa {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font-size: 1.1rem;
  color: orange;
}

.fa-star-o:hover {
  fill: #510d0aff;
}

.reviewUL {
  list-style: 'none';
  padding: 2em;
}

.reviewUL > * {
  padding: 1em;
}

.review {
  display: flex;
  /* margin-left: 2em; */
  font-size: 1rem;
  /* padding: .5em; */
}

.ratingRadio {
  display: none;
}

.ratingsSec .fa {
  color: #191102;
  transition: color 200ms;
}

.rateLabel {
  color: #191102;
  padding: 5px;
  font-weight: 700;
  margin: 0;
}
