/* colors
/* SCSS HEX */
/* $tea-green: #bbd8b3ff;
$orange-yellow: #f3b61fff;
$citron: #a29f15ff;
$rosewood: #510d0aff;
$black-chocolate: #191102ff; */

.selectBiz {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  font-family: "Candal", sans-serif;
}

.selectBizForm {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

.selectBizForm > :focus {
  outline: none;
}

.selectBizBar {
  display: flex;
  justify-content: space-around;
  text-align-last: center;
  border: none;
  border-radius: 25px;
  width: 16em;
  height: auto;
  padding: 0.5em;
  margin-right: 10px;
  color: #191102ff;
  font-size: 12pt;
  box-shadow: 1px 3px 6px #191102ff;
  text-shadow: 2px 1px 2px rgba(233, 201, 121, 0.746);
  background-color: rgba(243, 183, 31, 0.849);
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.selectBizBar > option {
  text-align-last: center;
  color: #191102ff;
  font-size: larger;
}

#connect {
  width: 7em;
  margin: auto 0;
}

.searchBizInput {
  display: flex;
  border-radius: 5px;
  background-color: rgba(244, 211, 128, 0.865);
  width: 16em;
  height: 2.5em;
  margin-right: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.searchBarDiv {
  margin: auto;
  justify-content: center;
}

.searchBarForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: min-content;
  align-items: baseline;
}

.searchBarForm > button {
  width: 5em;
  font-size: 11pt;
  margin: 0;
}
