.signUpMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-content: center;
  margin: auto;
  height: 100%;
  width: auto;
}

.signUpHeader {
  color: white;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  margin: auto;
  margin-bottom: 1em;
  width: 25em;
  border: 1px solid whitesmoke;
}

.input > input {
  padding: 0.25em;
  margin-bottom: 0.5em;
}

::placeholder {
  text-align: start;
  color: rgb(1, 44, 1);
  text-transform: capitalize;
}

.submit {
  width: 7em;
  margin: 1em auto;
}

#gotAccount {
  margin-top: 1em;
  margin: 2em;
  color: rgb(1, 44, 1);
  font-size: 1.25em;
}
